<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок страницы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stili.css}">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main class="main">
    <section class="section_top" id="registration">
        <div class="createAccount_wrapper">
            <div class="container">
                <form class="createAccount" method="POST">
                    <div class="createAccount_inner">
                        <!--        One ELEMENT of MULTY SELECT  -->
                        <div class="form_label">
                            <span class="form_text">Получатель</span>
                            <div class="multiselect_block">
                                <label for="select-1" class="field_multiselect">Кому</label>

                                <input id="checkbox-1" class="multiselect_checkbox" type="checkbox">
                                <label for="checkbox-1" class="multiselect_label"></label>

                                <select id="select-1" class="field_select" name="users" multiple style="@media (min-width: 768px) { height: calc(4 * 38px)}">
                                    <option value="all">All</option>
                                    <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
                                </select>
                                <span class="field_multiselect_help">You can select several items by pressing <b>Ctrl(or Command)+Element</b></span>
                            </div>
                            <div class="form_label">
                                <span class="form_text" for="theme">Тема: </span>
                                <input type="text" id="theme" name="theme"/>
                            </div>
                            <div class="form_label">
                                <span class="form_text" for="content">Содержание: </span>
                                <textarea name="content" id="content"></textarea>
                            </div>
                        </div>
                        <!--   END  -->
                        <div class="createAccount_buttons">
                            <button class="btn btn_createAccount" type="submit">Отправить</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script>
    let multiselect_block = document.querySelectorAll(".multiselect_block");
    multiselect_block.forEach(parent => {
        let label = parent.querySelector(".field_multiselect");
        let select = parent.querySelector(".field_select");
        let text = label.innerHTML;
        select.addEventListener("change", function(element) {
            let selectedOptions = this.selectedOptions;
            label.innerHTML = "";
            for (let option of selectedOptions) {
                let button = document.createElement("button");
                button.type = "button";
                button.className = "btn_multiselect";
                button.textContent = option.value;
                button.onclick = _ => {
                    option.selected = false;
                    button.remove();
                    if (!select.selectedOptions.length) label.innerHTML = text
                };
                label.append(button);
            }
        })
    })
</script>
</html>